<header class="secondary-header">
  <a href="index.html" class="secondary-logo">
    <img class="img-fluidd logo-darkk" src="./assets/logo.png" alt="Logo">
  </a>
</header>
<div class="form-wrapper">
<form>
    <div class="container form-body">
        <div class="sign-group">
            <a href="index.html" class="btn sign-up"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
              </svg><span></span> Back To Home
            </a>
            </div>
        <h1 class="firstHeading">Sign Up</h1>
        <p>We'll send a confirmation code to your email.</p>
        <label for="email"><b>Username</b><span class="text-danger">*</span></label>
        <input type="text" name="username" [(ngModel)]="registerObj.username" placeholder="Enter Username" required>
    
        <label for="email"><b>Email</b><span class="text-danger">*</span></label>
        <input type="text" placeholder="Enter Email" name="email" [(ngModel)]="registerObj.email" required>
        
        <label for="psw"><b>Password</b><span class="text-danger">*</span></label>
        <input type="password" placeholder="Enter Password" name="psw" [(ngModel)]="registerObj.password" required>
    
          <br>
          
        <div class="clearfix">
    
          <button type="submit" class="btn-sign-in" *ngIf="!registerSrv.isAuthenticated()"(click)="onRegister()">Sign Up</button>
        </div>
        <div class="login-or">
            <span class="or-line"></span>
            <span class="span-or-log">Or, Create an account with your email</span>
            </div>
            <div class="social-login">
                <a href="#" class="d-flex align-items-center justify-content-center form-group btn google-login w-100"><span class="s-icons"><img src="assets/google.svg" class="img-fluid" alt="Google"></span>Log in with Google</a>
                </div>
                <div class="social-login">
                    <a href="#" class="d-flex align-items-center justify-content-center form-group btn google-login w-100"><span class="s-icons"><img src="assets/facebook.svg" class="img-fluid" alt="Facebook"></span>Log in with Facebook</a>
                    </div>
                    <div class="text-center dont-have">Already have an account? <a href="/signin">Sign In</a></div>    
      </div>
    </form>
  </div>
  <footer class="secondary-footer">
    <div class="copyright">
      <div class="copyright">
        <p class="centercopyright">© 2023 Mr Angulan. All Rights Reserved.</p>
      </div>
    </div> 
    </footer>